body {
  background-color:#CCF6FF;
  padding: 0;
  margin: 0;
}

h1 {
  color: #202023;
  font-family: "Lucida Console", sans-serif;
}

h2, h3 {
  color: white;
  font-family: "Lucida Console", sans-serif;
}

h4, h5 {
  color: #202023;
  font-family: georgia, serif;
}

p {
  color: #202023;
  font-family: georgia, serif;
}

a {
  color: #53A4FB;
  font-family: georgia, serif;
}

a:hover {
  color:#5D72DF;
}

.sitebox {
  display: grid;
}

.windowbox {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
  height: max-content;
  background-color: white;
  border: 3px solid #53A4FB;
  border-radius: 3px;
}

.topbar {
  height:30px ;
  color: white;
  background-color:#53A4FB;
  border: 3px solid #53A4FB;
  padding: 0px 15px 20px;
}

#url {
  color: white;
  font-family: "Lucida Console", sans-serif;
}

#iconsimg {
  height:40px;
}

.textbox {
  margin: 30px;
}

.navbar {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100vh;
  background-color:#53A4FB;
  position: fixed;
}

#icon {
  width: 20vw;
}

.navlinks {
  padding: 0px 2.5vw;
  grid-row-start: 3;
}

.navlinks a {
  color:white;
}

/* computer users hell yeah */

@media screen and (min-width: 800px){
  .sitebox {
    grid-template-columns: 18% 9% 31% 4% 29% 2% 6%;
    grid-template-rows: 10vw 10vw 10vw; 
    
  }

}

/* mobile users yikes */

@media screen and (max-width: 800px){

}