body {
  background-color:#CCF6FF;
  padding: 0;
  margin: 0;
}


h2, h3 {
  color: white;
  font-family: "Lucida Console", sans-serif;
}

.sitebox {
  display: grid;
}

.navbar {
  color: white;
  background-color:#53A4FB;
  padding: 0px 15px 0vw;
  margin: 0px;
  position: fixed;
  height: 65px;
  width: 100vw; 

  display: flex;
  justify-content: space-between;
}

.buttonsSection {
  margin-right: 50px;
}

.navbutton {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
  height: 35px;
  border: none;
  border-radius: 8px;
}

#stemEdButton {
  background-color: #5adb7f;
}

#techButton {
  background-color: #69d9f0;
}

#designButton {
  background-color: #9c8deb;
}

.resume {
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sidebar {
  background-color: #69d9f0;
}

/* computer users hell yeah !!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 800px){
  .sitebox {
    grid-template-columns: 19vw 60vw 21vw;
    grid-template-rows: 70px 3vw 77.6vw 3vw; 
  }
}

/* mobile users yikes :(((((((((((( frown */

@media screen and (max-width: 800px){
  .sitebox {
    grid-template-columns: 0;
    grid-template-rows: 0; 
  }
}