body {
  background-color:#CCF6FF;
  padding: 0;
  margin: 0;
}

h2 {
  color: black;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 25px;
  font-size: 1.8vw;
}

h3 {
  color: white;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1.4vw;
}

h4 {
  color: #69d9f0;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1.4vw;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: 1.1vw;
  font-family: 'Franklin Gothic', 'Times New Roman', serif;
  line-height: 1.6vw;
  margin-bottom: 0;
}

#title {
  color: white;
  font-family: 'Lucida Console', Verdana, sans-serif;
}

#name {
  color: white;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 2.7vw;
}

#email {
  margin-bottom: 0px;
  margin-top: 0;
}

.resume li {
  font-size: 1.2vw;
}

.sitebox {
  display: grid;
}

.navbar {
  color: white;
  background-color:#53A4FB;
  padding: 0px 15px 0vw;
  margin: 0px;
  position: fixed;
  height: 65px;
  width: 100vw; 
  display: flex;
  justify-content: space-between;
}

.buttonsSection {
  margin-right: 50px;
}

.navbutton {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 15px;
  height: 35px;
  border: none;
  border-radius: 8px;
}

.navbutton:hover {
  cursor: pointer;
}

#stemEdButton {
  background-color: #5adb7f;
}

#creativeTechButton {
  background-color: #5ac1d6;
}

#serviceButton {
  background-color: #9c8deb;
}

#downloadButton {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  height: 35px;
  border: none;
  border-radius: 8px;
  right: 10px;
  bottom: 10px;
  position: fixed;
  background-color: red;
}

.resume {
  display: grid;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sidebar {
  background-color: #69d9f0;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-right: 30px;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 30px;
}

#sidebarlist {
  list-style: none;
}

#mainlist {
  list-style: none;
  margin-top: 55px;
}

.bulletlist {
  list-style: inside;
  list-style-position: outside;
}

.sidebar li {
  color: white;
}

.main li {
  color: black;
}

li + li {
  margin-top: 10px;
}

#logo {
  width: 10vw;
  padding-left: 2.5vw;
  margin-bottom: 0;
}

#scissordivider {
  width: 15vw;
}

.hidden {
  display: none;
}

/* computer users hell yeah !!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (min-width: 1400px){
  .sitebox {
    grid-template-columns: 19vw 60vw 21vw;
    grid-template-rows: 70px 3vw 77.6vw 3vw; 
  }

  .resume {
    grid-template-columns: 20vw 40vw;
  }

  .sidebar {
    height: 77.6vw;
  }

  .navbutton {
    font-size: medium;
  }

  #downloadButton {
    font-size: medium;
  }
}

@media screen and (min-width: 800px) and (max-width:1400px){
  .sitebox {
    grid-template-columns: 12.5vw 75vw 12.5vw;
    grid-template-rows: 70px 3vw 97vw 3vw; 
  }

  .resume {
    grid-template-columns: 25vw 50vw;
  }

  .sidebar {
    height: 97vw;
  }

  .navbutton {
    font-size: 1.2vw;
    padding: 8px 15px;
  }

  #downloadButton {
    font-size: 1.2vw;
    padding: 8px 15px;
  }
}

/* mobile users yikes :(((((((((((( frown */

@media screen and (max-width: 800px){
  .sitebox {
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 70px 3vw 116.5vw 3vw;
  }

  .resume {
    grid-template-columns: 30vw 60vw;
  }

  .sidebar {
    height: 116.5vw;
  }

  .navbutton {
    font-size: 1.6vw;
    padding: 0px 10px;
    margin-left: 5px;
  }

  #downloadButton {
    font-size: 4vw;
    padding: 5px 10px;
    height: 50px;
    border-radius: 20px;
    right: 20px;
    bottom: 20px;
  }

  ul {
    margin-left: 0px;
    padding-left: 20px;
  }

  p {
    font-size: 1.8vw;
    line-height: 2.3vw;
  }

  h2 {
    font-size: 3vw;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 2.6vw;
    margin-bottom: 5px;
  }

  h4 {
    font-size: 2.2vw;
  }

  #name {
    font-size: 3.65vw;
  }

  #mainlist {
    margin-top: 0px;
    padding-top: 0px;
  }

  li + li {
    margin-top: 5px;
  }
}